body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  color: blueviolet;
}
h1 {
  color: #ff08d6;
}
p {
  line-height: 1.8;
  font-size: 22px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}